<app-admin-top></app-admin-top>
<main class="main">
  <div class="container-fluid">
    <!-- Page header -->
    <div class="row align-items-center mb-7">
      <div (click)="goBack()" role="button" class="col-auto">
        <div class="avatar text-center avatar-md rounded text-primary-emphasis">
          <i class="fs-5">
            <tui-icon icon="@tui.chevron-left" />
          </i>
        </div>
      </div>
      <div class="col">
        <h1 class="fs-4 mb-0">Transactions</h1>
      </div>
      <div class="col-12 col-sm-auto mt-4 mt-sm-0">
        <div class="avatar text-info me-2">
          <span role="button" (click)="get_trxs()" class="material-symbols-outlined abayti_secondary_color fs-1">refresh</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <div class="card mt-2 mt-2">
          <div class="card-header">
            <div class="row">
              <div class="col-3">
                <div class="mb-2">
                  <label class="form-label">Start date</label>
                  <input type="date" class="form-control" name="start_date" [(ngModel)]="get_trx_range.start_date">
                </div>
              </div>
              <div class="col-3">
                <label class="form-label">End date</label>
                <input type="date" class="form-control" name="end_date" [(ngModel)]="get_trx_range.end_date">
              </div>
              <div class="col-3 mt-5">
                <button (click)="get_range_trx()" class="btn mt-2 btn-outline-secondary abayti_secondary_background text-white">Submit</button>
              </div>
            </div>
          </div>
          <div style="min-height: 350px" *ngIf="!ui_controls.is_loading" class="table-responsive">
            <table datatable [dtOptions]="dtOptions" class="table table-hover table-select table-round align-middle mb-0">
              <thead>
              <tr class="border-2" >
                <th>#</th>
                <th>Order&nbsp;Id</th>
                <th>Transaction&nbsp;Ref</th>
                <th>Cart&nbsp;Id</th>
                <th>Merchant&nbsp;Reference</th>
                <th>Amount</th>
                <th>customer</th>
                <th>status</th>
                <th>Initiated</th>
                <th>Updated</th>
              </tr>
              </thead>
              <tbody>
              <tr class="border-2"  *ngFor="let a_transaction of transactions; let i = index">
                <td>{{ a_transaction.id }}</td>
                <td>{{ a_transaction.order_id }}</td>
                <td>{{ a_transaction.transaction_id }}</td>
                <td>{{ a_transaction.cart_code }}</td>
                <td>{{ a_transaction.merchantReference }}</td>
                <td>{{ a_transaction.amount}}</td>
                <td>{{ a_transaction.customer }}</td>
                <td>
                  @if(a_transaction.status == 'paid'){
                    <span class="badge bg-success-subtle text-success">Completed</span>
                  } @else {
                    <span class="badge bg-danger-subtle text-danger">Pending</span>
                  }
                </td>
                <td>{{ a_transaction.created }}</td>
                <td>{{ a_transaction.updated }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <tui-loader class="p-5" *ngIf="ui_controls.is_loading" />
        </div>
      </div>
    </div>
  </div>
</main>
