<aside class="aside aside-base sidenav-base">
  <nav class="navbar navbar-expand-xl navbar-vertical">
    <div class="container-lg">
      <div class="card mb-5 hide-on-mobile">
        <div class="card-header text-center">
          <img class="img img-fluid w-50" src="assets/img/abayti.png" alt="abayti" />
        </div>
<!--        <div class="card-body">
          <h4 class="fs-base fw-normal text-body-secondary mb-1">Balance</h4>
          <div class="fs-2 fw-semibold">
            <span class="fs-6 align-text-top me-1">AED</span>0<span class="fs-5">.0</span>
            <span class="badge bg-success-subtle text-success fs-sm align-text-top ms-2">+0%</span>
          </div>
        </div>-->
        <div class="card-footer">
          <div class="row g-2">
            <div class="col-12">
              <a routerLink="/create-product"  class="btn btn-sm text-white abayti_secondary_background w-100 d-flex align-items-center justify-content-center gap-1">
                <svg class="icon svg-icon-ti-ti-plus" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                 <path d="M12 5l0 14"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
                <span class="d-none d-sm-inline">Add&nbsp;Product</span>
                <span class="d-inline d-sm-none">Product</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <button
        class="navbar-toggler ms-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidenavBaseCollapse"
        aria-controls="sidenavBaseCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenavBaseCollapse">
        <!-- Search -->
        <div class="input-group d-xl-none my-4 my-xl-0">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" aria-describedby="sidenavBaseSearchMobile" />
          <span class="input-group-text" id="sidenavBaseSearchMobile">
                <span class="material-symbols-outlined">search</span>
              </span>
        </div>
        <!-- Heading -->
        <h3 class="fs-base px-3 mb-4">Main Menu</h3>
        <!-- Nav -->
        <nav class="navbar-nav nav-pills mb-7">
          <div class="nav-item">
            <a routerLink="/account" class="nav-link">
              <span class="me-3">
              <span class="material-symbols-outlined abayti_secondary_color fs-4">analytics</span>
              </span><span class="abayti_secondary_color">Dashboard</span>
            </a>
          </div>
        <div class="nav-item">
          <a routerLink="/products" class="nav-link">
          <span class="me-3">
            <span class="material-symbols-outlined abayti_secondary_color fs-4">apparel</span>
          </span> <span class="abayti_secondary_color">Manage products</span>
          </a>
        </div>
        <div class="nav-item">
          <a routerLink="/orders" class="nav-link">
        <span class="me-3">
          <span class="material-symbols-outlined abayti_secondary_color fs-4">orders</span>
        </span> <span class="abayti_secondary_color">Manage orders</span>
          </a>
        </div>
        <div class="nav-item">
          <a routerLink="/reviews" class="nav-link">
            <span class="me-3">
              <span class="material-symbols-outlined abayti_secondary_color fs-4">share_reviews</span>
            </span> <span class="abayti_secondary_color">Product reviews</span>
          </a>
        </div>
        <div class="nav-item">
          <a routerLink="/returns" class="nav-link">
          <span class="me-3">
            <span class="material-symbols-outlined abayti_secondary_color fs-4">keyboard_return</span>
          </span> <span class="abayti_secondary_color">Process returns</span>
          </a>
        </div>
        <div class="nav-item d-none">
          <a routerLink="/coupons" class="nav-link">
        <span class="me-3">
          <span class="material-symbols-outlined abayti_secondary_color fs-4">sell</span>
        </span> <span class="abayti_secondary_color">Coupons & Discounts</span>
          </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#settings" role="button" aria-expanded="false" aria-controls="dashboards">
              <span class="me-3">
              <span class="material-symbols-outlined abayti_secondary_color fs-4">store</span>
              </span> <span class="abayti_secondary_color">Store Settings</span>
            </a>
            <div class="collapse" id="settings">
              <nav class="nav nav-pills">
                <a class="nav-link" routerLink="/profile">User profile</a>
                <a class="nav-link" routerLink="/store">Manage Store</a>
                <a class="nav-link" routerLink="/security">Security settings</a>
                <a class="nav-link" routerLink="/payment_info">Payment information</a>
                <a class="nav-link" routerLink="/tax_information">Tax information</a>
                <a class="nav-link" routerLink="/notifications">Notifications</a>
              </nav>
            </div>
          </div>
          <hr/>
<!--          <div class="nav-item">
            <a routerLink="/user_preference" class="nav-link">
            <span class="me-3">
              <svg class="icon  svg-icon-ti-ti-messages" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
                <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
              </svg>
            </span> Preference
            </a>
          </div>-->
          <div class="nav-item text-danger">
            <a (click)="sign_out()" role="link" class="nav-link">
            <span class="me-3 text-danger">
              <span class="material-symbols-outlined fs-3"> logout </span>
            </span><span class="text-danger"> Sign out</span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </nav>
</aside>
