<app-side></app-side>
<app-top></app-top>
<main class="main ml-desktop-22rem px-lg-6">
  <!-- Content -->
  <div class="container-lg">
    <!-- Page header -->
    <!-- Page header -->
    <div class="row align-items-center mb-7">
      <div (click)="goBack()" role="button" class="col-auto">
        <div class="avatar text-center avatar-md rounded text-primary-emphasis">
          <i class="fs-5">
            <tui-icon icon="@tui.chevron-left" />
          </i>
        </div>
      </div>
      <div class="col">
        <h1 class="fs-4 mb-0">Product labels</h1>
      </div>
      <div class="col-12 col-sm-auto mt-4 mt-sm-0"></div>
    </div>

    <!-- Page content -->
    <div class="row">
      <div class="col-12 col-lg-9" data-bs-spy="scroll" data-bs-target="#accountNav" data-bs-smooth-scroll="true" tabindex="0">
        <section *ngIf="!ui_controls.is_loading" class="card bg-body-tertiary border-transparent" id="security">
          <div class="card-body">
            <h2 class="fs-5 mb-1">Product labels</h2>
            <p class="text-body-secondary">
              Labels let you group your products into meaningful categories, making it easier for customers to browse and discover what they’re looking for. Whether it’s seasonal items, special promotions, or curated themes, collections help you showcase your products in an organized way.
            </p>
            <div class="card">
              <div class="card-body">
                By creating and managing labels, you can: <hr>
                <ul class="list-group-flush">
                  <li class="list-group-item">🛍️ Highlight featured or best-selling products.</li>
                  <li class="list-group-item">🎯 Target specific customer interests (e.g., “Summer Collection”, “New Arrivals”, “Festive Deals”).</li>
                  <li class="list-group-item">📂 Keep your store organized and visually appealing.</li>
                </ul>
              </div>
              <div class="card-body">
                <tui-loader *ngIf="ui_controls.is_creating_label" />
                <div *ngIf="!ui_controls.is_creating_label" class="input-group mb-3">
                  <input [(ngModel)]="vendor_label_create.label" [max]="20" type="text" class="form-control form-control-sm" placeholder="e.g Clearance Sale" aria-label="e.g clearance sale" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button (click)="create_vendor_labels()" class="btn btn-sm btn-dark" type="button">Create label</button>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li *ngFor="let a_label of labels; let i = index" class="list-group-item border-0 px-0">
                    <div class="input-group">
                      <span class="input-group-text">{{ a_label.label }}</span>
                      <input value="{{ a_label.label }}" placeholder="{{ a_label.label }}" [(ngModel)]="update.label" type="text" class="form-control form-control-sm">
                      <button (click)="update_label(a_label.id, update.label)" type="button" class="btn btn-sm abayti_secondary_background">
                        <span class="material-symbols-outlined fs-3 abayti_secondary_color">save</span>
                      </button>
                      <button (click)="start_delete_label(a_label.id, a_label.label)" type="button" class="btn btn-sm abayti_secondary_background">
                        <span class="material-symbols-outlined fs-3 abayti_secondary_color">delete</span>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <tui-loader *ngIf="ui_controls.is_loading" />
      </div>
    </div>
  </div>
</main>
