<app-side *ngIf="user_session.is_vendor"></app-side>
<app-aside *ngIf="user_session.is_admin"></app-aside>
<app-top></app-top>
<main class="main ml-desktop-22rem px-lg-6">
  <div class="container-lg">
    <!-- Page header -->
    <div class="row align-items-center mb-7">
      <div (click)="goBack()" role="button" class="col-auto">
        <div class="avatar text-center avatar-md rounded text-primary-emphasis">
          <i class="fs-5">
            <tui-icon icon="@tui.chevron-left" />
          </i>
        </div>
      </div>
      <div class="col">
        <h1 class="fs-4 mb-0">{{ 'security_title' | translate }}</h1>
      </div>
      <div class="col-12 col-sm-auto mt-4 mt-sm-0"></div>
    </div>

    <!-- Page content -->
    <div class="row">
      <div class="col-12 col-lg-9" data-bs-spy="scroll" data-bs-target="#accountNav" data-bs-smooth-scroll="true" tabindex="0">
        <!-- Two-step verification -->
        <section *ngIf="!ui_controls.is_loading" class="card card-line bg-body-tertiary border-transparent mb-5" id="visibility">
          <div class="card-body">
            <h2 class="fs-5 mb-1">{{ 'security_2fa_title' | translate }}</h2>
            <p class="text-body-secondary">{{ 'security_2fa_subtext' | translate }}</p>
            <div class="card border-transparent">
              <div class="card-body py-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <div class="row align-items-center">
                      <div class="col">
                        {{ 'security_2fa_locked' | translate }}
                      </div>
                      <div class="col-auto">
                        <div class="form-check form-switch mb-3 align-items-center d-flex">
                          <input checked class="form-check-input" type="checkbox" role="switch">
                          <label class="form-check-label mx-2">
                            {{ 'security_2fa_enable' | translate }}
                          </label>
                          <button [disabled]="true" type="button" class="btn btn-sm btn-secondary ms-auto">
                            {{ 'save_changes' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Change password -->
        <section *ngIf="!ui_controls.is_loading" class="card card-line bg-body-tertiary border-transparent mb-5" id="password">
          <div class="card-body">
            <h2 class="fs-5 mb-1">{{ 'security_change_password_title' | translate }}</h2>
            <p class="text-body-secondary">{{ 'security_change_password_subtext' | translate }}</p>
            <div class="card border-transparent">
              <div class="card-body">
                <div class="mb-4">
                  <label class="form-label">{{ 'password_label' | translate }}</label>
                  <input [(ngModel)]="update_password.password" type="password" name="password" class="form-control">
                </div>
                <div class="mb-4">
                  <label class="form-label">{{ 'password_confirm_label' | translate }}</label>
                  <input [(ngModel)]="update_password.confirm_password" type="password" name="confirm_password" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button (click)="password_change()" class="btn btn-secondary text-white" type="button">{{ 'save_changes' | translate }}</button>
          </div>
        </section>

        <tui-loader *ngIf="ui_controls.is_loading" />
      </div>
    </div>
  </div>
</main>
